# Introducción a la Ciencia de Datos: Tarea 1

Este notebook contiene el código de base para realizar la Tarea 1 del curso. Puede copiarlo en su propio repositorio y trabajar sobre el mismo.
Las **instrucciones para ejecutar el notebook** están en la [página inicial del repositorio](https://github.com/DonBraulio/introCD).

Se utiliza el lenguaje Python y la librería Pandas. Si no tiene ninguna familiaridad con la librería, se recomienda realizar algún tutorial introductorio (ver debajo).
También se espera que los alumnos sean proactivos a la hora de consultar las documentaciones de las librerías y del lenguaje, para entender el código provisto.
Además de los recursos provistos en la [página del curso](https://eva.fing.edu.uy/course/view.php?id=1378&section=1), los siguientes recursos le pueden resultar interesantes:
 - [Pandas getting started](https://pandas.pydata.org/docs/getting_started/index.html#getting-started) y [10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html): Son parte de la documentación en la página oficial de Pandas.
 - [Kaggle Learn](https://www.kaggle.com/learn): Incluye tutoriales de Python y Pandas.


Si desea utilizar el lenguaje R y está dispuesto a no utilizar (o traducir) este código de base, también puede hacerlo.

En cualquier caso, **se espera que no sea necesario revisar el código para corregir la tarea**, ya que todos los resultados y análisis relevantes deberían estar en el **informe en formato PDF**.

.

## Cargar bibliotecas (dependencias)
Recuerde instalar los requerimientos (`requirements.txt`) en el mismo entorno donde está ejecutando este notebook (ver [README](https://github.com/DonBraulio/introCD)).

In [1]:
from time import time
from pathlib import Path

import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

## Conexión a la Base y Lectura de Datos

In [2]:
# Creamos el directorio Tarea_1/data/shakespeare
data_dir = Path("data") / "shakespeare"
data_dir.mkdir(parents=True, exist_ok=True)


def load_table(table_name, engine):
    """
    Leer la tabla con SQL y guardarla como CSV,
    o cargarla desde el CSV si ya existe
    """
    path_table = data_dir / f"{table_name}.csv"
    if not path_table.exists():
        print(f"Consultando tabla con SQL: {table_name}")
        t0 = time()
        df_table = pd.read_sql(f"SELECT * FROM {table_name}", engine)
        t1 = time()
        print(f"Tiempo: {t1 - t0:.1f} segundos")

        print(f"Guardando: {path_table}\n")
        df_table.to_csv(path_table)
    else:
        print(f"Cargando tabla desde CSV: {path_table}")
        df_table = pd.read_csv(path_table, index_col=[0])
    return df_table


print("Conectando a la base...")
conn_str = "mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/Shakespeare"
engine = create_engine(conn_str)

# DataFrame con todas las obras:
df_works = load_table("works", engine)

# Todos los párrafos de todas las obras
df_paragraphs = load_table("paragraphs", engine)

# TODO: cargar el resto de las tablas

Conectando a la base...
Cargando tabla desde CSV: data/shakespeare/works.csv
Cargando tabla desde CSV: data/shakespeare/paragraphs.csv

## Exploración de Datos

In [3]:
# Veamos las obras incluídas:
df_works

,id,Title,LongTitle,Date,GenreType
0,1,Twelfth Night,"Twelfth Night, Or What You Will",1599,Comedy
1,2,All's Well That Ends Well,All's Well That Ends Well,1602,Comedy
2,3,Antony and Cleopatra,Antony and Cleopatra,1606,Tragedy
3,4,As You Like It,As You Like It,1599,Comedy
4,5,Comedy of Errors,The Comedy of Errors,1589,Comedy
5,6,Coriolanus,Coriolanus,1607,Tragedy
6,7,Cymbeline,"Cymbeline, King of Britain",1609,History
7,8,Hamlet,"Tragedy of Hamlet, Prince of Denmark, The",1600,Tragedy
8,9,"Henry IV, Part I","History of Henry IV, Part I",1597,History
9,10,"Henry IV, Part II","History of Henry IV, Part II",1597,History
10,11,Henry V,History of Henry V,1598,History
11,12,"Henry VI, Part I","History of Henry VI, Part I",1591,History
12,13,"Henry VI, Part II","History of Henry VI, Part II",1590,History
13,14,"Henry VI, Part III","History of Henry VI, Part III",1590,History
14,15,Henry VIII,History of Henry VIII,1612,History
15,16,Julius Caesar,The Tragedy of Julius Caesar,1599,Tragedy
16,17,King John,History of King John,1596,History
17,18,King Lear,The Tragedy of King Lear,1605,Tragedy
18,19,Lover's Complaint,A Lover's Complaint,1609,Poem
19,20,Love's Labour's Lost,Love's Labour's Lost,1594,Comedy
20,21,Macbeth,The Tragedy of Macbeth,1605,Tragedy
21,22,Measure for Measure,Measure for Measure,1604,Comedy
22,23,Merchant of Venice,"Merchant of Venice, The",1596,Comedy
23,24,Merry Wives of Windsor,"Merry Wives of Windsor, The",1600,Comedy
24,25,Midsummer Night's Dream,A Midsummer Night's Dream,1595,Comedy
25,26,Much Ado about Nothing,Much Ado about Nothing,1598,Comedy
26,27,Othello,"The Tragedy of Othello, Moor of Venice",1604,Tragedy
27,28,Passionate Pilgrim,The Passionate Pilgrim,1598,Poem
28,29,Pericles,"Pericles, Prince of Tyre",1608,History
29,30,Phoenix and the Turtle,The Phoenix and the Turtle,1601,Poem
30,31,Rape of Lucrece,The Rape of Lucrece,1594,Poem
31,32,Richard II,History of Richard II,1595,History
32,33,Richard III,History of Richard III,1592,History
33,34,Romeo and Juliet,The Tragedy of Romeo and Juliet,1594,Tragedy
34,35,Sonnets,Sonnets,1609,Sonnet
35,36,Taming of the Shrew,The Taming of the Shrew,1593,Comedy
36,37,Tempest,The Tempest,1611,Comedy
37,38,Timon of Athens,The Tragedy of Timon of Athens,1607,Tragedy
38,39,Titus Andronicus,Titus Andronicus,1593,Tragedy
39,40,Troilus and Cressida,Troilus and Cressida,1601,Tragedy
40,41,Two Gentlemen of Verona,Two Gentlemen of Verona,1594,Comedy
41,42,Venus and Adonis,Venus and Adonis,1593,Poem
42,43,The Winter's Tale,The Winter's Tale,1610,Comedy

In [4]:
df_paragraphs["PlainText"]

0        [Enter DUKE ORSINO, CURIO, and other Lords; Mu...
1        If music be the food of love, play on;\nGive m...
2                               Will you go hunt, my lord?
3                                             What, Curio?
4                                                The hart.
                               ...
35460    That she is living,\nWere it but told you, sho...
35461    You gods, look down\nAnd from your sacred vial...
35462    There's time enough for that;\nLest they desir...
35463    O, peace, Paulina!\nThou shouldst a husband ta...
35464                                             [Exeunt]
Name: PlainText, Length: 35465, dtype: object

## Limpieza de Texto y Conteo de Palabras

In [5]:
def clean_text(df, column_name):
    # Convertir todo a minúsculas
    result = df[column_name].str.lower()

    # Quitar signos de puntuación y cambiarlos por espacios (" ")
    # TODO: completar signos de puntuación faltantes
    for punc in ["[", "\n", ","]:
        result = result.str.replace(punc, " ")
    return result

# Creamos una nueva columna CleanText a partir de PlainText
df_paragraphs["CleanText"] = clean_text(df_paragraphs, "PlainText")

# Veamos la diferencia
df_paragraphs[["PlainText", "CleanText"]]

,PlainText,CleanText
0,"[Enter DUKE ORSINO, CURIO, and other Lords; Mu...",enter duke orsino curio and other lords; mu...
1,"If music be the food of love, play on;\nGive m...",if music be the food of love play on; give me...
2,"Will you go hunt, my lord?",will you go hunt my lord?
3,"What, Curio?",what curio?
4,The hart.,the hart.
...,...,...
35460,"That she is living,\nWere it but told you, sho...",that she is living were it but told you shou...
35461,"You gods, look down\nAnd from your sacred vial...",you gods look down and from your sacred vials...
35462,There's time enough for that;\nLest they desir...,there's time enough for that; lest they desire...
35463,"O, peace, Paulina!\nThou shouldst a husband ta...",o peace paulina! thou shouldst a husband tak...
35464,[Exeunt],exeunt]

In [6]:
# Convierte párrafos en listas "palabra1 palabra2 palabra3" -> ["palabra1", "palabra2", "palabra3"]
df_paragraphs["WordList"] = df_paragraphs["CleanText"].str.split()

# Veamos la nueva columna creada
# Notar que a la derecha tenemos una lista: [palabra1, palabra2, palabra3]
df_paragraphs[["CleanText", "WordList"]]

,CleanText,WordList
0,enter duke orsino curio and other lords; mu...,"[enter, duke, orsino, curio, and, other, lords..."
1,if music be the food of love play on; give me...,"[if, music, be, the, food, of, love, play, on;..."
2,will you go hunt my lord?,"[will, you, go, hunt, my, lord?]"
3,what curio?,"[what, curio?]"
4,the hart.,"[the, hart.]"
...,...,...
35460,that she is living were it but told you shou...,"[that, she, is, living, were, it, but, told, y..."
35461,you gods look down and from your sacred vials...,"[you, gods, look, down, and, from, your, sacre..."
35462,there's time enough for that; lest they desire...,"[there's, time, enough, for, that;, lest, they..."
35463,o peace paulina! thou shouldst a husband tak...,"[o, peace, paulina!, thou, shouldst, a, husban..."
35464,exeunt],[exeunt]]

In [7]:
# Nuevo dataframe: cada fila ya no es un párrafo, sino una sóla palabra
df_words = df_paragraphs.explode("WordList")

# Quitamos estas columnas redundantes
df_words.drop(columns=["CleanText", "PlainText"], inplace=True)

# Renombramos la columna WordList -> word
df_words.rename(columns={"WordList": "word"}, inplace=True)

# Verificar que el número de filas es mucho mayor
df_words

           id  ParagraphNum  character_id  chapter_id         word
0      630863             3          1261       18704        enter
0      630863             3          1261       18704         duke
0      630863             3          1261       18704       orsino
0      630863             3          1261       18704        curio
0      630863             3          1261       18704          and
...       ...           ...           ...         ...          ...
35463  666326          3483           667       19648  dissever'd:
35463  666326          3483           667       19648      hastily
35463  666326          3483           667       19648         lead
35463  666326          3483           667       19648        away.
35464  666327          3504          1261       19648      exeunt]

[884544 rows x 5 columns]

 ## Personajes con mayor cantidad de palabras

In [ ]:
# Agregamos el nombre de los personajes
# TODO: des-comentar luego de cargar df_characters
# df_words = pd.merge(df_words, df_characters[["id", "CharName"]], left_on="character_id", right_on="id")

In [ ]:
# TODO:
# - des-comentar luego de hacer el merge
# - Encuentra algún problema en los resultados?

# words_per_character = df_words.groupby("CharName")["word"].count().sort_values(ascending=False)
# words_per_character

In [ ]:
# Ejemplo: 10 personajes con más palabras
# char_show = words_per_character[:10]
# plt.bar(char_show.index, char_show.values)
# _ = plt.xticks(rotation=90)